@keyframes animationBar {
    from {
        width: 0;
    }

    to {
        width: 400px;
    }
}

.navContainer {
    background-color: #030303;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.navLeft {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 40px;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.searchBar {
    width: 400px;
    border-radius: 5px;
    border: none;
    display: none;
    outline: none;
    padding: 4px 0 4px 5px;
    font-size: 14px;
}

.showSearchBar {
    display: flex;
    animation: animationBar 1.2s ease;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}

.link {
    color: #fff;
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        height: 1.5px;
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 0%;
    }

    &:hover::after {
        width: 100%;
        bottom: -1px;
        transition: width .6s ease-out;


    }
}


.navRight {
    width: 10%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cartIcon,
.personIcon,
.searchIcon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}