@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.CardsContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.searchText {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    margin-inline: 10px;
    flex-wrap: wrap;
    gap: 25px;
}

.cardProduct {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    padding: 5px 0px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    height: 300px;
    overflow: hidden;
    width: 230px;
    flex-direction: column;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.142);
}

.productTitle {
    font-size: 15px;
}

.productImg {
    width: 140px;
}