/* removem os botões de incremento e decremento nos navegadores WebKit (como Chrome e Safari) e também em navegadores que usam o motor Gecko (como Firefox).*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,input[type="number"] {
    -webkit-appearance: none;/* Para navegadores baseados em WebKit, como Chrome e Safari */
    -moz-appearance: textfield; /* Para navegadores baseados em Gecko, como Firefox */
    appearance: none; /* Para navegadores modernos que suportam a versão padrão */
    margin: 0;
}

.paymentContainer{
    margin-top: 130px;
    height: 800px;
}
.form{
    background-color: #fff;
    max-width: 1200px;
    width: 90%;
    padding:20px 10px;
    display: flex;
    gap: 18px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;

    .inputForm{
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.456);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.271);
        padding:5px;
        border-radius: 5px;
        width: 80%;
        max-width: 1000px;
    }

}
.paymentOptions{
    display: flex;
    width: 50%;
    justify-content: space-around;

    .paymentOptionsItem{
        border: 2px solid var(--green);
        padding: 5px 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
         &>span{
            user-select: none;
         }
    }
    
}
/* Estilo para a opção selecionada */
.active {
    background-color: var(--green);
    color: #fff;
}
.paymentOptionsWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.PaymentCardInfo{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 19px;

    &>div{
        display: flex;
        justify-content: center;
        width: 80%;
        gap: 15%;
        max-width: 1000px;

    }
    .inputFormCardInfo{
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.456);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.271);
        padding:5px;
        border-radius: 5px;
        width: 80%;
        max-width: 1000px;
    }
    
}
.selectForm{
        outline: none;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.456);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.271);
        padding:5px;
        border-radius: 5px;
        width: 80%;
        max-width: 1000px;

        &>option{
            background-color: #f0f0f0; /* Cor de fundo */
            color: #333; /* Cor do texto */
            padding: 10px; /* Tamanho interno (não suportado em todos os navegadores) */
            cursor: pointer;
        }
}

   