.productPage {
    margin-top: 100px;
    height: 600px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.productPageContainer {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    background-color: #fff;
}

.productLeft {
    width: 50%;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.productImgWrapper {
    background-color: #acacac;
    width: 450px;
    position: relative;
    overflow: hidden;
    height: 450px;
    padding: 40px 55px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: zoom-in;
    /* Remova transições que afetam propriedades dinâmicas */
}

.productImage {
    width: 220px;
    /* Remova ou limite transições aqui */
    cursor: zoom-in;
}

.zoom {
    display: none; /* Inicialmente oculto */
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #acacac;
    background-repeat: no-repeat;
    background-size: 120%; /* Ajuste para o nível de zoom desejado */
    pointer-events: none;
}
/*imagem do produto*/
.smartphoneCartImg {
    width: 190px;
}

.notebookCartImg {
    width: 230px;
}

.accessoryCartImg {
    width: 220px;
}

.redragonCobraCartImg {
    width: 140px;
}
.webcamCartImg{
    width: 165px;
}

.productRight {
    border-left: 1px solid #acacac;
    width: 50%;
    padding-inline:40px 20px;
    height: 90%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName,
.productDescription {
    width: 100%;
    text-align: start;
    
}
.productName {
    margin-top: 25px;
}
.productPrice{
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
    
    width: 100%;
    text-align: start;
}
.parcel{
    text-align: start;
    width: 100%;
    margin-top: -25px;
    color: #000000ba;

}
.paymentWrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto 0;

    .buyBtn{
        width: 300px;
        height: 40px;

        border: 1px solid rgba(0, 0, 0, 0.388);
        box-shadow: 1px 1px 5px #00000067;
        border-radius: 5px;
        background-color: var(--green);
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 18px;

        &:hover{
            background-color: #148314;
            transition: all .5s ease;
        }
    }

    .addCartIcon{
        font-size: 40px;
        cursor: pointer;
        &:hover{
            color: var(--green);
            transition: all .5s ease;
        }
    }
}

@media screen and (max-width:481px) {
    .productPage {
        height: 920px;
    }
    .productPageContainer {
        flex-direction: column;
        gap: 15px;
        justify-content: none;
        align-items: center;
        padding: 5px 0;
        width: 90%;
     
    }
    .productLeft {
        width: 100%;
        flex-grow: 0;
        &>p{
            color: transparent;
        }
    }
    .productImgWrapper {
        width: 98%;
        height: 350px;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent; /* Remove o destaque azul no Android */
    }
    
    .productImage {
        width: 220px;
        user-select: none;
        -webkit-tap-highlight-color: transparent; /* Remove o destaque azul no Android */
        cursor: pointer;
    }
    
    .productRight {
        border-top: 1px solid #acacac;
        border-left: none;
        width: 100%;
        padding: 0 5px;
    }
    
    .productName,
    .productDescription,.productPrice,.parcel {
        text-align: center;
        
    }
    .productName {
        margin-top: 25px;
    }
    .productPrice{
        font-size: 2em;
    }
    .paymentWrapper{
        justify-content: center;
        .buyBtn{
            width: 70%;
        }
        .addCartIcon{
            font-size: 38px;
            &:hover{
                color: #000;
                transition: none;
            }
            &:active{
                color: var(--green);
            }
        }
    }
}