.productPage {
    margin-top: 100px;
    height: 600px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.productPageContainer {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: #fff;
}

.productLeft {
    width: 50%;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}

.productImage {
    width: 220px;
}

.productRight {
    border-left: 1px solid #acacac;
    width: 50%;
    height: 90%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName,
.productDescription {
    width: 100%;
    text-align: start;
    text-indent: 70px;
}

.productName {
    margin-top: 25px;
}

.productDescription {}